/* Write your CSS here */

.appointment {
  display: flex;
  background-color: transparent;
  border: 1px #b5b7c4 solid;
  border-radius: 8px;
  height: 80px;
  padding-left: 5px;
  list-style-type: none;
  margin-left: 5px;
  width: 200px;
  margin-bottom: 5px;
  justify-content: space-between;
}
.title-container {
  display: flex;
  flex-direction: column;
}

.starButton {
  outline: none;
  border-width: 0px;
  background-color: transparent;
  height: 0px;
  margin-top: 8px;
}
.bottom-container {
  display: flex;
  margin: 0;
  padding-top: 0;
}
.title-hed {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  height: 0px;
}
.date-hed {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  height: 0px;
}

@media screen and (max-width: 600px) {
  .bottom-container {
    display: flex;
    margin: 0;
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }
}
